<style>
        h1{
            color : red;
            background-color: black;
            height: 90px;
            width: 75%;
        }
        p{
            color: green;
            font-size: 20px;
            font-weight: 900;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        #birthday{
            color: black;
            font-size: 40px;
            font-weight: 900;
            font-family: serif;
            font-style: italic;
            font-variant: small-caps;
            background-color: red;
            width: 75%;
        }
        img{
            width: 50%;
        }
        .fr{
            color: purple;
        }
        .romantic{
            color: white;
        }
        .blog{
          border: 5px solid red;
          width: 30%;
          height: 200px;
          border-radius: 20px;
          margin: 3px;
          display: inline-block;
          
          
        }
        #exx{
            color: black;
            
        }
        h3{
            text-align: center;

        }
        p{
            text-align: justify;
        }
        h1{
            color: goldenrod;
        }
        h1:hover{
            color: red;
            background-color: green;
            width: 50%;
            font-size: xx-large;
        }
        .wp:hover{
            background-color: indigo;
        }
        input:focus{
            color: red;
            font-weight: 900;
            font-size: 20px;
        }
        li:nth-child(2n+1){
            background-color: rgb(247, 0, 255);
            width: 20%;
        }
        a:visited{
            color: blue;
        }
        .c:nth-child(2n)
        {
            background-color: chartreuse;
            width: 20%;

        }
        .c:nth-child(2n+1)
        {
            background-color: white;
        }
        h2::before{
            content: "❤️";

        }
        h2::after{
            content: " Hello";
        }
       body{
           counter-reset: sec;
       }
       h4::before{
           counter-increment: sec;
           content: "sec" counter(sec)":";
       }

    
    </style>